@media (max-width: 375px){
  nav {
    font-family: $standard-font;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;

    a {
      color: $green;
      margin-right: 20px;
      text-decoration: none;
      transition: .5s;
    }
    a:hover {
      font-size: 20px;
    }
  }
  .grid {
    div {
      float: left;
      width: 90%;
      margin: 0 1% 59px 2%;
      overflow: hidden;
      position: relative;
    }
  }
}

.hover-content {
   a {
    color: $black;
    font-size: 38px;
    text-decoration: none;
  }

  p {
    font-size: 10px;
    margin: 20px auto;
    transition: .75s;
    width: 80%;
  }
  button {
    border: 0;
    border-radius: 15px;
    height: 20px;
    transition: .5s;
    width: 60px;
  }
}
