@media (max-width: 760px){
  nav {
    font-family: $standard-font;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;

    a {
      color: $green;
      margin-right: 20px;
      text-decoration: none;
      transition: .5s;
    }
    a:hover {
      font-size: 20px;
    }
  }
  .grid {
    div {
      float: left;
      width: 45%;
      margin: 0 1% 59px 2%;
      overflow: hidden;
      position: relative;
    }
  }
}

.contact {
  li {
    a {
      i {
      font-size: 30px;
      color: $black;
      text-decoration: none;
    }
    }
    display: inline;
    margin: 0 5%
  }
}
