@import url('https://fonts.googleapis.com/css?family=Raleway');

$red: #f00;
$black: #000;
$white: #fff;
$green: #467365;
$standard-font: 'Raleway', sans-serif;
$tablet: 760px;

h1 {
  color: $green;
  font-family: $standard-font;
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

nav {
  font-family: $standard-font;
  font-size: 20px;
  margin: 20px 0;
  text-align: center;

  a {
    color: $green;
    margin-right: 20px;
    text-decoration: none;
    transition: .5s;
  }

  a:hover {
    font-size: 40px;
  }
}

.grid {
  div {
    .hover-content {
      font-family: $standard-font;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 0;
      transition: .5s;
      width: 100%;
    }

    float: left;
    margin: 0 1% 59px 2%;
    overflow: hidden;
    position: relative;
    width: 30%;
  }

  margin: 20px auto;
  overflow: scroll;
  width: 90%;
}


.hover-content {
   a {
    color: $black;
    font-size: 38px;
    text-decoration: none;
  }

  p {
    font-size: 20px;
    margin: 20px auto;
    transition: .75s;
    width: 80%;
  }
  button {
    border: 0;
    border-radius: 15px;
    height: 30px;
    transition: .5s;
    width: 75px;
  }
}

.white-text {
  h3 {
    color: $white;
  }
  a {
    color: $white;
    font-size: 38px;
    text-decoration: none;
  }

  p {
    color: $white;
    font-size: 20px;
    margin: 20px auto;
    transition: .75s;
    width: 80%;
  }

  button {
    border: 0;
    border-radius: 15px;
    height: 30px;
    transition: .5s;
    width: 75px;
  }
}

.box-1 {
  position: relative;
}

.box-img {
  width: 100%;
}

.up-arrow {
  float: right;
  height: 20px;
  margin-left: 20px;
  position: fixed;
  width: 20px;
}

#contact-container {
  text-align: center;
}

.contact {
  li {
    a {
      i{
      font-size: 70px;
    }
    }
  }
}

.grid div:hover {
  .hover-content{
  opacity: .8;
  }
  & .hover-content p {
    margin-top: 5px;
  }
  & .hover-content button:hover {
    opacity: .75;
  }
}
